services:
  db:
    image: postgres:15-alpine
    container_name: music-db-local
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: be_music
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./Backend/be-music
      dockerfile: Dockerfile
    container_name: music-backend
    ports:
      - "4000:4000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: password
      DB_DATABASE: be_music
      NODE_ENV: production
    depends_on:
      - db

volumes:
  postgres_data:
